@tailwind base;
@tailwind components;
@tailwind utilities;


/* example to apply tailwind class in css
.btn {
  @apply rounded-full;
} */

html { scroll-behavior: smooth; }

.anchor {
  scroll-margin-top: 80px;
} /* Fixes navbar going past anchor */

/* Social Media icons */
.glow:hover {
  color: oklch(var(--p));
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

/* hr loading bars */
@keyframes loading {
  0%   {background-color: red; width: 0%;}
  20%   {background-color: red; width: 20%;}
  /* 25%  {background-color: yellow; width: 40%;} */
  50%  {background-color: blue; width: 50%;}
  100% {background-color: green; width: 100%;}
}

/* The element to apply the animation to */
hr.active {
  width: 100%;
  /* height: 100px; */
  animation-name: loading;
  animation-duration: 1.5s;
}

/* Define the floating up animation */
@keyframes floatUp {
  0% {
      transform: translateY(20px);  /* Start slightly below */
      opacity: 0;                   /* Start invisible */
  }
  100% {
      transform: translateY(0);     /* End at the original position */
      opacity: 1;                   /* Fade in */
  }
}

/* Apply the animation to the text */
.floating-text.active {
  /* display: inline-block; */
  /* font-size: 2rem; */
  /* font-weight: bold; */
  animation: floatUp 1s ease-out forwards;
}

/* Apply the animation to the text */
.delayed-floating {
  opacity: 0%; /* hide text before animation */
}

.delayed-floating.active {
  /* display: inline-block; */
  /* font-size: 2rem; */
  /* font-weight: bold; */
  /* display: inline-block; */
  animation: floatUp 1s ease-out forwards;
  animation-delay: 1.5s;
}

.typewriter.active h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  /* border-right: .15em solid #c59f60; The typwriter cursor */
  border-right: .15em solid oklch(var(--p)); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .01em; /* Adjust as needed */
  line-height: 1.4; /* Prevents text/y from being cropped */
  animation: 
    typing 1.5s steps(25, end), /* Less seconds for shorter sentences, also less steps(number in the bracket) for shorter sentences*/
    blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: oklch(var(--p)); }
}
